<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer">
        <title>rf - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        $favicons$
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Protocol Seven</a>
            </div>
            <nav class="navbar">
                <a href="/">Format</a>
                <a href="/description/">Description</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
